<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 2</title>
</head>
<body>
    <script>
        <!-- Isso é um comentário html-->
        // esse é um comentário JavaScript com uma linha
        /* Esse é um comentário JavaSript de múltiplas lihas*/
        const nome = prompt("Digite o seu nome")
        const dia = prompt('Que dia é hoje')
        alert("Olá " +nome+ ' hoje é: '+ dia)
        alert(`Olá ${nome}, sejá bem vindo ao front-end, hoje é`) 
    </script>
    
</body>