<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const a = "20"
        console.log("a: " +a)
        const b = a * 2
        console.log("b: " +b)
        const c = a / 2
        console.log("c: " +c)
        const d = a - 2
        console.log("d: " +d)
        const e = a + 2
        console.log("e: " +e) // concatenou
        alert("e: " +e)
        const f = Number(a) + 2
        console.log("f: " +f)
        alert("f = " +f)
        alert("a " + typeof a)
        alert("b " + typeof b)
        alert("c " + typeof c)
        alert("d " + typeof d)
        alert("e " + typeof e)
        alert("f " + typeof f)
        
    </script>
    
</body>
</html>