<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5> Programa Alô você</h5> 
    <!-- É a tag de cabeçalho (Heading) de nível 5. Ela define um título na página.
    tamanhos vão de <h1> (mais importante/maior) até <h6> (menos importante/menor)-->
    <form> <!-- Tag-->
        nome <input type="text" name="nome" id="nome" required> <!-- required colocar o campo como preenchimento obrigatório-->
        <input type="submit" value="enviar">
    </form> <!-- Tag-->

    <script> src="scripts/alg67.js"</script>
</body>
</html>